<div class="container page-info-box">
  <div class="info-box">
    <div class="page-info-left" *ngIf="page">
      <img [src]="page.imageUrl" alt="demo image" />

      <div class="page-info">
        <h1>{{ page.title }}</h1>
        <div [innerHTML]="page.content">
        </div>
      </div>
    </div>

    <!-- set breakpoint at 640 -->
    <div class="page-info-right" *ngIf="innerWidth > 800">
      <h2>Categories</h2>
      <p>Our commitment to your safety and well being</p>
      <p>Your right and responsibilities</p>
    </div>
  </div>

  <div class="other-topics" *ngIf="innerWidth >= 1060">
    <h1>Other topics</h1>
    <div class="other-topics-cards">
      <bnv-card></bnv-card>
      <bnv-card></bnv-card>
      <bnv-card></bnv-card>
    </div>
  </div>
</div>
