<div class="pages-title">
  <h1>Pages</h1>
  <button mat-icon-button><mat-icon>add_circle_outline</mat-icon></button>
</div>

<div class="pages-content">
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Created Time</th>
      <th>Author</th>
      <th>Content</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Test title</td>
      <td>03:00pm 21/03/2022</td>
      <td>Admin</td>
      <td>Test content should be longer</td>
      <td>Published</td>
      <td>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>remove</mat-icon></button>
      </td>
    </tr>
  </table>
</div>
