<div class="pages-title">
  <h1>Pages</h1>
  <button (click)="addPageBtn()" mat-icon-button>
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>

<div class="pages-content">
  <table>
    <tr>
      <th>Id</th>
      <th>Image</th>
      <th>Title</th>
      <th>Tag</th>
      <th>Created Time</th>
      <th>Author</th>
      <th>Content</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let page of pages">
      <td>{{ page.id }}</td>
      <td>
        <img [src]="page.imageUrl" alt="Children" />
      </td>
      <td style="text-align: left">
        <div class="title-text">{{ page.title }}</div>
      </td>

      <td>{{ page.tag.name }}</td>
      <td>{{ page.createdTime | date: "medium" }}</td>
      <td>{{ page.appUser.userName }}</td>
      <td style="text-align: left">
        <div class="content-text">{{ page.content }}</div>
      </td>
      <td>
        <span *ngIf="page.isPublic">Published</span
        ><span *ngIf="!page.isPublic">Drafted</span>
      </td>
      <td>
        <div class="inline-block">
          <button mat-icon-button routerLink="/page/{{page.id}}"><mat-icon>details</mat-icon></button>
          <button mat-icon-button routerLink="/admin/edit-page/{{ page.id }}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletePage(page.id)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
