<div class="side-bar">
  <h2>Admin Panel</h2>
  <div class="side-bar-nav">
    <ul>
      <li><a routerLink="/admin/pages">Pages</a></li>
      <li><a routerLink="/admin/tags">Tags</a></li>
      <li><a href="#">Members</a></li>
      <li><a href="/admin/role">Roles</a></li>
      <li><a routerLink="/admin/feedbacks">Feedback</a></li>
      <li *ngIf="(currentUser$ | async)!.userName !== ''">
        <a (click)="logout()">
          <div class="logout">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
