<div class="side-bar">
  <h2>Admin Panel</h2>
  <h4 class="welcome-text" routerLink="/admin/manage" *ngIf="(currentUser$ | async)!.userName !== ''">
    Welcome {{ (currentUser$ | async)!.userName }}
  </h4>
  <div class="side-bar-nav">
    <ul>
      <li
        *ngIf="
          (currentUser$ | async)!.roles.includes('Admin') ||
          (currentUser$ | async)!.roles.includes('Mod')
        "
      >
        <a routerLink="/admin/pages">Pages</a>
      </li>
      <li
        *ngIf="
          (currentUser$ | async)!.roles.includes('Admin') ||
          (currentUser$ | async)!.roles.includes('Mod')
        "
      >
        <a routerLink="/admin/tags">Tags</a>
      </li>
      <li *ngIf="(currentUser$ | async)!.roles.includes('Admin')">
        <a routerLink="/admin/member">Members</a>
      </li>
      <li *ngIf="(currentUser$ | async)!.roles.includes('Admin')">
        <a routerLink="/admin/role">Roles</a>
      </li>
      <li
        *ngIf="
          (currentUser$ | async)!.roles.includes('Admin') ||
          (currentUser$ | async)!.roles.includes('Mod')
        "
      >
        <a routerLink="/admin/feedbacks">Feedback</a>
      </li>
      <li *ngIf="(currentUser$ | async)!.userName !== ''">
        <a (click)="logout()">
          <div class="logout">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </div>
        </a>
      </li>
      <li *ngIf="(currentUser$ | async)!.userName == ''">
        <a routerLink="sign-in">
          <div class="logout">
            <mat-icon>login</mat-icon>
            <span>Sign in</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
