@import "../../shared/colors.scss";

.side-bar {
  width: 280px;
  min-height: calc(100vh - 139px);
  border-right: 1px solid $border-bottom-color;

  h2 {
    padding: 5px;
    text-align: center;
  }

  a {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $border-bottom-color;
      border-top: 1px solid $border-bottom-color;
    }
  }
}
