<div class="header">
  <div class="header-wrap container">
    <a routerLink="/"><img class="logo" src="/assets/images/LogoFull.png" /></a>

    <!-- This div appears if the screen is bigger or equal to 1300 -->
    <div class="navigation" *ngIf="innerWidth >= BREAK_POINT_1">
      <ul>
        <li>
          <div
            class="nav-item-background bg-green"
            [routerLink]="['']"
            routerLinkActive="bg-full"
          ></div>
          <a [routerLink]="['']" routerLinkActive="link-active-white">Home</a>
        </li>
        <li *ngFor="let tag of (tags | async)">
          <div class="nav-item-background bg-color{{ tag.position % 6 }}"></div>
          <a style="cursor: pointer">{{ tag.name }}</a>

          <ul class="bg-color{{ tag.position % 6 }}">
            <li *ngFor="let page of getPagesOfTag(tag.name)">
              <a routerLink="/page/{{page.id}}">{{
                page.title
              }}</a>
            </li>
          </ul>
        </li>

        <li>
          <div class="nav-item-background bg-blue"></div>
          <a href="#contact">Contact Us</a>
        </li>
      </ul>
      <bnv-call-btn></bnv-call-btn>
    </div>

    <!-- This div appears when the screen is smaller than 1300 -->
    <!-- hamburger menu -->
    <div *ngIf="innerWidth < BREAK_POINT_1">
      <button mat-button [matMenuTriggerFor]="animals">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #animals="matMenu">
        <button mat-menu-item>
          <a class="full-hw" [routerLink]="['']">Home</a>
        </button>
        <ng-container *ngFor="let tag of tags">
          <button mat-menu-item [matMenuTriggerFor]="menu">
            {{ tag.name }}
          </button>

          <mat-menu #menu="matMenu">
            <button
              style="
                line-height: unset;
                text-overflow: unset;
                overflow: unset;
                white-space: normal;
              "
              mat-menu-item
              routerLink="/page/{{page.idid}}"
              *ngFor="let page of getPagesOfTag(tag.name)"
            >
              {{ page.title }}
            </button>
          </mat-menu>
        </ng-container>

        <button mat-menu-item>
          <a class="full-hw" href="#contact">Contact Us</a>
        </button>
        <button class="bg-orange-tint" mat-menu-item>
          <a href="tel:1800 236 762" class="btn-call-us"
            >Call us 1800 236 762</a
          >
        </button>
      </mat-menu>
    </div>
  </div>
</div>
