<!-- Known issues -->
<!-- Elements does not apear at first as it associate with children does not render on init. -->
<!-- The element only appears after click on the page or other elements -->

<div class="pages-title">
  <h1>Add page</h1>
</div>

<form class="form-add" [formGroup]="addPage">
  <div class="form-image">
    <div class="form-image-input">
      <label for="image">Image</label>
      <input type="file" formControlName="image" style="border: none" />
    </div>
    <img src="" alt="" />
  </div>

  <mat-form-field class="form-title" appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
    <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <ckeditor class="form-editor" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>

  <button class="bg-publish" mat-button>Publish</button>
  <button class="bg-draft" mat-button>Draft</button>
  <button class="bg-discard" mat-button>Discard</button>
</form>
