<div class="pages-title">
  <h1>Add tag</h1>
</div>

<form class="add-form" [formGroup]="addTagForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label for="name">Tag name</mat-label>
    <input id="name" formControlName="name" matInput />
  </mat-form-field>

  <br />

  <mat-form-field appearance="outline">
    <mat-label for="position">Position</mat-label>
    <input id="position" formControlName="position" type="position" matInput />
  </mat-form-field>
  <br>

  <button mat-button>Submit</button>
</form>
